<div class="packages-list">
  {% set pieces = ['&#9822;', '&#9821;', '&#9820;', '&#9823;'] %}
  {% for p in packages %}
  <details class="package">
    <summary>
      <span class="package-title-row">
        <span><span class="piece-bullet" aria-hidden="true">{{ pieces[loop.index0 % pieces|length]|safe }}</span>{{ p.title }}</span>
        <span class="chevron">+</span>
      </span>
      <p class="package-summary-text">{{ p.summary }}</p>
    </summary>
    {% if p.details %}<div class="package-details">{{ p.details }}</div>{% endif %}
  </details>
  {% endfor %}
</div>
